body {
	display: flex;
	flex-direction: column;
	align-content: center;
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	padding: 0;
	margin: 0;
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 15vh;
	
	background-color: #1F2937;
	color: #F9FAF8;
}

.header .topBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
	align-self: center;
	
}

.header .topBar .logo {
	font-size: 24px;
}

.header .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
	align-self: center;
}

.header .content img {
	width: 35vw;
	height: auto;
	align-self: center;
	/* flex-shrink: 1; */
}

.header .content .text {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	align-items: flex-start;
	width: 35vw;
}

.header .content button {
	background-color: #3882F6;
	color: inherit;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: bold;
	font-size: large;
}

.header .text .headerText {
	font-size: 48px;
	font-weight: 750;
}

.header .topBar .links a,
.header .text .paragraph {
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.header .topBar .links {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

/* Information */

.information {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 10vh;
}

.information .infoHeader {
	color: #1f2937;
	font-size: 36px;
	font-weight: 650;
	
	align-self: center;
}

.information .flowerList {
	display: flex;
	justify-content: center;
	gap: 7vw;
}

.information img {
	width: 11vw;
	border-radius: 12px;
	border: #3882F6 solid 3px;
}

.information .infoText {
	width: 11vw;
	text-align: center;
}

.information .flowerList .infoText {
	color: #1f2937;
}

/* Quote */

.quote {
	color: #1f2937;
	background-color: #e5e7eb;
	
	padding: 15vh 20vw 10vh 20vw
}

.quote .text {
	font-size: 36px;
	/* font-weight: 400; */
	font-style: italic;
}

.quote .author {
	font-size: x-large;
	text-align: end;
}

/* Sign Up */

.signUp .blueBox {
	margin: 15vh 10vw;
	padding: 10vh 10vw;
	background-color: #3882F6;
	
	display: flex;
	justify-content: space-between;
	
	color: white;
}

.signUp .blueBox .text .textHeader {
	font-weight: 750;
	font-size: 24px;
}

.signUp .blueBox .text .paragraph {
	font-size: large;
}

.signUp .blueBox button {
	background-color: #3882F6;
	color: inherit;
	border: white solid 2px;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: bold;
	font-size: large;
	align-self: center;
}

/* Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
	
	background-color: #1f2937;
	color: white;
	
	height: 15vh;
}

#heart {
	color: tomato;
	font-size: x-large;
}
